<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Mealtopia</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <header>
      <nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://mealtopia.io">
        <strong> <h1 class="has-text-weight-bold is-size-1"><i>Mealtopia</i></h1> </strong>
      </a>

      <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" href="<%= Routes.page_path(@conn, :index) %>">
          Home
        </a>

        <a class="navbar-item" href="<%= Routes.menu_path(@conn, :index) %>">
          Menu
        </a>

        <div class="navbar-item has-dropdown is-hoverable">
          <a class="navbar-link">
            More
          </a>

          <div class="navbar-dropdown">
            <a class="navbar-item">
              Location
            </a>
            <a class="navbar-item">
              Jobs
            </a>
            <a class="navbar-item">
              Contact
            </a>
            <hr class="navbar-divider">
            <a class="navbar-item">
              Report an issue
            </a>
          </div>
          <div class="navbar-item">
            <!-- <div class="buttons">
              <a class="button is-primary">
                <strong>Sign up</strong>
              </a>
              <a class="button is-light">
                Log in
              </a>
            </div> -->
          </div>
        </div>
      </div>

    </div>
  </nav>
    </header>
    <main role="main">
     <%= if flash =  get_flash(@conn, :info) do %>
       <div class="alert notification is-primary" role="alert"> <%= flash %>
         <button class="delete"></button>
       </div>
     <% end %>
     <%= if flash =  get_flash(@conn, :error) do %>
       <div class="alert notification is-danger" role="alert"> <%= flash %>
         <button class="delete"></button>
       </div>
     <% end %>

         <%= render @view_module, @view_template, assigns %>
   </main>
    <!-- <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Mealtopia</strong> built with <a href="https://hexdocs.pm/elixir/">Phoenix, Elixir</a>.
      Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved
      | Linda made this with <i class="fa fa-heart" aria-hidden="true"></i> </a> </a>.
    </p>
  </div>
</footer> -->
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
